:host {
  font-family: sans-serif;
  border: 1px solid rgb(118, 13, 167);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
  border-radius: 5px;
  color: #333;
  background-color: snow;
}

form input {
  font: inherit;
  color: rgb(118, 13, 167);
  padding: 0.15rem 0.25rem;
  border-radius: 5px;
  border: rgb(118, 13, 167) 1px solid;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  display: block;
  font-family: inherit;
  padding: 0.25rem 0.6rem;
  background-color: rgb(118, 13, 167);
  color: white;
  border: none;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

form button:hover,
form button:active {
  background-color: rgb(166, 75, 207);
}

form button:disabled {
  background-color: #ccc;
  color: black;
  cursor: not-allowed;
}
